/* Colors
---------------------*/
.c-green, .c-positive {
  color: #7CC924 !important; }

.c-blue {
  color: #4383b3 !important; }

.c-orange {
  color: #ff9700 !important; }

.c-red, .c-negative {
  color: red !important; }

.u-blueMediumDark {
  color: #486AB4; }

.u-green {
  color: #7CC924; }

.u-grayNew {
  color: #868686; }

.u-compareColor0 {
  color: #8E70E0; }

.u-compareColor1 {
  color: #00B5F0; }

.u-compareColor2 {
  color: #71CA2F; }

.u-compareColor3 {
  color: #F60; }

.u-compareColor4 {
  color: #F3C; }

#top-nav #nav-header-dropdown.web-item, #top-nav #nav-header-dropdown.web-item.open, .sw-home-page-container .sw-home-nav-items .items-list .item-link.web-item .item-image {
  filter-gradient: #508ECF, #4486cc, vertical;
  background-image: linear-gradient(#508ECF, #4486cc); }

#top-nav #nav-header-dropdown.web-item:hover, .sw-home-page-container .sw-home-nav-items .items-list .item-link.web-item .item-image:hover {
  filter-gradient: #4486cc, #508ECF, vertical;
  background-image: linear-gradient(#4486cc, #508ECF); }

#top-nav #nav-header-dropdown.mobile-item, #top-nav #nav-header-dropdown.mobile-item.open, .sw-home-page-container .sw-home-nav-items .items-list .item-link.mobile-item .item-image {
  filter-gradient: #ff9700, #f08e00, vertical;
  background-image: linear-gradient(#ff9700, #f08e00); }

#top-nav #nav-header-dropdown.mobile-item:hover, .sw-home-page-container .sw-home-nav-items .items-list .item-link.mobile-item .item-image:hover {
  filter-gradient: #f08e00, #ff9700, vertical;
  background-image: linear-gradient(#f08e00, #ff9700); }

.help-panel .side-panel .see-more {
  filter-gradient: #ff9700, #f08e00, vertical;
  background-image: linear-gradient(#ff9700, #f08e00); }

/* Font styles
---------------------*/
.text-rel-size2 {
  font-size: 1.2em;
  font-size: 1.2vw; }

.text-style-1 {
  font-family: 'Open Sans Condensed Light', sans-serif; }

.text-style-2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700; }

.u-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold; }

.u-alignCenter {
  text-align: center; }

.u-alignRight {
  text-align: right; }

/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

html {
  height: 100%; }

body {
  min-height: 100%;
  overflow-x: hidden;
  height: 1px;
  background-color: #fafafa; }

ul {
  list-style-type: none; }

chart {
  display: block; }

tag-cloud, [tag-cloud] {
  display: block;
  height: inherit;
  width: inherit; }

hgroup h5 {
  color: #838383; }

.u-block {
  display: block; }

.u-inlineBlock {
  display: inline-block; }

.u-inline {
  display: inline; }

.u-padding {
  padding: 50px; }
