// base for the entire project, includes:
// 1. Structural variables
// 2. Sprites
// 3. Site Default Styles
// 4. Social buttons


//
// Structure Variables
//
$siteWidth: 1120px;
$sitePadding: 20px; // used within media queries for spacing off edge of screen
//$headerHeight: 70px;
$siteNavHeight: 55px;
$subNavHeight: 50px;
$headerHeight: $siteNavHeight + $subNavHeight;



//
// Site Default Styles
//
html { height: 100%; }
body {
  overflow-x: hidden;
  height: 100%;
  background-color: $white;
  @include font($weight: 300, $family: $openSans);
}
// TODO DT: change element selector to a class selector
section {
  position: relative;
  box-sizing: border-box;
  @include respondTo(smallScreen) {
    padding-left: $sitePadding;
    padding-right: $sitePadding;
  }
}

a { text-decoration: none; }
input, button {
  @include font($weight: 400); // prevents default font-weight: bold
  box-sizing: border-box;
}
svg {
  max-width: 100%;
  max-height: 100%;
}


//
// Social buttons
//
.twitter-share-button, .fb-share-button, #___plusone_0[style]  {
  // using #___plusone_0[style] to override styles on plus one button
  display: inline-block !important;
  vertical-align: middle !important;
  line-height: 1;
  @include respondTo(smallScreen){
    display: none !important;
  }
}

.swhide {
	display:none !important;
}

.swshow {
	display:block !important;
}