
//
//Default variables for the layout
//
$inputBorder: #CCC;

$baseBorderRadius: 0;
$inputBorderRadius: 0;
$tabsHeight: 30px;

$navbarHeight: 30px !default;
$brandingHeight: 50px !default;
$sidebarWidth: 300px;
$helpSidebarWidth: 400px;
$pageMinWidth: 1200px;
$tableBorder: #ddd;
$linkColor: #08c !default;
$linkColorHover: darken($linkColor, 15%) !default;

//*
//* Site Structure
//*
$container-width: 1280px;
$gutter-width: 32px;
$input-element-height: 35px;

//* Single purpose utility classes

//*
//* Display
//*
.u-block { display: block; }
.u-inlineBlock { display: inline-block; }
.u-inline { display: inline; }


//*
//* Padding
//*
.u-padding { padding: 50px; }

//*
//* Demo classes
//*

.demoRibbon-wrapper {
  width: 75px;
  height: 75px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.demoRibbon-ribbon {
  transform: rotate(45deg);
  position: relative;
  left: 26px;
  top: -62px;
  width: 100px;
  height: 100px;
  background-color: $blue-dark;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0px 3px;
  border-bottom: 1px solid white;
}

.demoRibbon-text {
  position: absolute;
  transform: rotate(45deg);
  @include setFont($size: 12px);
  bottom: 45px;
  left: 40px;
  text-align: center;
  color: white;
}

.sw-demo-banner {
  min-height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background: transparent url(/images/demo-banners/message_pattern.png) repeat left top;
  color: #2C3E50;
  margin: 0 -20px;

  &.sw-demo-banner-enterprise {
    background: transparent url(/images/demo-banners/ent_pattern.png) repeat left top;
    color: white;
  }
  span {
    line-height: 60px;
  }
}

a.btn-demo-banner {
  background-color: #2C3E50;
  border: none;
  color: white;
  font-weight: normal;
  font-size: 13px;
  line-height: 25px;
  padding: 2px 42px;
  border-radius: 3px;
  margin-left: 20px;
}

a.btn-demo-banner:hover {
  background-color: #405060;
  color: white;
}

.sw-demo-grid {
  min-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  background: transparent url(/images/demo-banners/message_pattern.png) repeat left top;
  color: #2C3E50;

  span {
    line-height: 40px;
  }

  a.btn-demo-grid {
    background-color: #2C3E50;
    border: none;
    color: white;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 42px;
    border-radius: 3px;
    margin-left: 20px;
  }

  a.btn-demo-grid:hover {
    background-color: #405060;
  }

  i.sw-icon-info {
    color: #2C3E50;
    opacity: 1;
  }

  i.sw-icon-info:hover {
    color: #405060;
  }
}


//* 
//* To top classes
//* 

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 0;
  overflow: hidden;
  width: 29px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url(/images/ui.totop.png) no-repeat 0 0
}

#toTopHover {
  background: url(/images/ui.totop.png) no-repeat 0 -32px;
  width: 29px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0)
}

#toTop:active, #toTop:focus {
  outline: none
}

//*
//* Message pop-up
//*

.msg-overlay {
  position: absolute !important;
  display: block !important;
  z-index: 104 !important;
}

#msgPopup {
  &:before {
    @include triangle('up', 10px, #fff);
    left: 30px;
    top: -10px;
  }
  position: absolute;
  margin: 10% auto;
  display: block;
  width: 550px;
  height: 330px;
  padding: 10px 25px;
  background-color: white;


  button {
    float: right;
    position: relative;
    top: -10px;
    right: -15px;
    color: #888;
    font-size: 2.8em;
    line-height: 1;
  }

  h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 45px;
    color: #2B3D52;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 40px 0;
  }
  .left {
    width: 30%;
    float: left;
  }
  .right {
    width: 65%;
    float: right;
    p {
      font-size: 15px;
      font-weight: 600;
      color: #4D4D4D;;
    }
    .buttons {
      margin-top: 25px;
      a {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
      }
      .go {
        border-radius: 4px;
        background-color: #FF9700;
        font-size: 21px;
        color: #fff;
        text-decoration: none;
        padding: 8px 40px;
      }
      .later {
        font-size: 13px;
        color: gray;
      }
    }
  }
}

/* boxes styling
---------------------*/
.sw-box1 {
  padding: 10px;
  margin: 0;
  border: 1px solid #CCC;
  background: #FFF;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ng-cloak, [ng-cloak] {
  visibility: hidden !important;
}

//*
//* SW classes
//*

.sw-container {
  @extend %clearfix;
  width: $container-width; // TODO DT: add breakpoints using respondTo mixin to reduce width
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.sw-search-form {
  input {
    height: 30px;
    border-right: 0px
  }

  .sw-add-to-favorites {
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    color: #DDD;
    background-color: transparent;
    &:hover {
      background-color: transparent
    }
    &.sw-icon-star {
      color: #BBB;
      &:hover {
        color: #999;
      }
    }
    &.sw-icon-star-2 {
      color: $orange;
    }
  }
}

.sw-page-error {
  background-color: $white;
  border: 1px solid $grayBorder;
  padding: 10px 0;
  text-align: center;

  .typeahead {
    text-align: left;
  }

  button.add-on {
    margin-left: 0px;
  }
  h1 {
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    //font-family:"Open Sans Condensed", sans-serif;
    color: $grayText;

    i {
      position: relative;
      top: 5px;
      margin-right: 7px;
      font-size: 30px;
      color: $red;

      &.sw-icon-search {
        cursor: pointer;
        color: $grayText;
      }
    }

    .btn {
      margin: 0 15px;
      > i {
        color: $grayText;
        margin-right: 0;
        font-size: 20px;
        top: 3px;

      }
    }

    span {
      font-family: 'Arial';
      font-size: 12px;
      text-transform: uppercase;
      font-weight: normal;
      color: #959595;
    }
  }
}

.sw-page-notfound {
  .sw-page-error {
    max-width: 800px;
    margin: 60px auto 0;
    .sw-search-form {
      padding-right: 0px !important;
      .input-append {
        padding-top: 20px;
        width: 50%;
      }
    }
  }
}

.sw-table-layout {
  display: table;
  width: 100%;
  > li {
    display: table-row;
    > * {
      display: table-cell;
    }
    .wide-min {
      width: 1%;
    }
    .sw-value {
      text-align: right;
    }
  }
  &.fixed {
    table-layout: fixed;
  }
  > * {
    display: table-cell;
  }
  .inputWrap {
    width: 100%;
    padding-right: 10px;
    input {
      width: 100%;
    }
  }
}

.sw-components-section.sw-table-layout {
  @media (max-width: 900px) {
    display: block;
    > * {
      display: block;
      margin: 0;
      border-left: none !important;
    }
    > :first-child {
      border: none !important;
    }
    > div.sw-section {
      border-top: 1px solid $grayBorder;
    }
  }
}

.sw-site-selection {
  width: 150px;
  img {
    float: left;
    position: relative;
    top: 6px;
    margin-right: 4px;
  }
}

.sw-csv {
  position: relative;
  top: 4px;
  left: 4px;
}

.sw-cmp-panel.sw-traffic-engagement-panel {
  .sw-caption:first-letter {
    text-transform: none;
  }
}

.sw-paid {
  color: $paidColor !important;
}

.sw-page-topSites, .sw-page-topApps {
  padding-top: 62px;
}

.sw-page-topSites .data-table, .sw-page-topApps .data-table {
  padding-top: 10px !important;
}

.flag.flag-ww {
  font-family: 'swicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @extend .sw-icon-geography;
}

.js-btn-search-ads {
  text-decoration: none !important;
  text-align: center;
  width: 29px;
  height: 16px;
  border-radius: 2px;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: normal;
  background-color: $grayTextLight;
  color: #fff !important;
  line-height: 17px;
}

.progress {
  margin-bottom: 0;
  width: 100%;
}

.favicon {
  width: 16px;
  height: 16px;
}

.fav-button {
  outline:none;
  display: inline-block;
    cursor: pointer;
    font-size: 15px;
    color: #DDD;
  border:0 none;
    background-color: transparent;
    &:hover {
      background-color: transparent
    }
    &.sw-icon-star {
      color: #BBB;
      &:hover {
        color: #999;
      }
    }
    &.sw-icon-star-2 {
      color: $orange;
    }

  .fav-button-text{
    font-size:14px;
  }

    &.fav-button-compare{
    font-size: 18px;
  }
}

.vertical-line {
  vertical-align: middle;
  display: inline-block;
  height:34px;
  border-left:1px solid #ccc;
  width:1px;
}

.modal {
  border-radius: 0;
}

.beta {
  background-color: #FF9600;
  padding: 4px 8px;
  font-size: 11px;
  color: #fff;
  font-weight: normal;
  border-radius: 5px;
  display: inline-block;
  font-family: sans-serif;
  vertical-align: top;
}

.highcharts-button {
  cursor: pointer !important;
}

//*
//* Inputs
//*

.input-append {
  input {
    width: 100%;
    margin: 0;
    padding-right: 35px;
    display: inline-block;
    box-sizing: border-box;
  }

  .icon-search {
    background-color: transparent;
    position: absolute;
    border: 0;
    position: absolute;
    top: 0px;
    right: 1px;
    width: 30px;
    height: 28px;
    background-color: $orange;
    z-index: 10;

  }
}

.input-prepend {
  input {
    width: 100%;
    margin: 0;
    padding-left: 25px;
    box-sizing: border-box;
  }
  label {
    position: absolute;
  }

  .icon-search {
    background-color: transparent;
    border: 0;
    position: absolute;
    z-index: 10;
    margin: 0 0px;
    padding: 5px 4px;
  }
}

.input-prepend, .input-append {
  position: relative;
  input, .select2-container {
    box-sizing: border-box;
    width: 100%;
    height: 26px;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.btn.sw-icon-refresh,
.btn.sw-icon-download {
  line-height: 17px;
  margin-left: 5px;
}

//*
//* State
//*

.is-masked {
  &:before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 103; // should be above topBar's z-index 102
  }

  .is-highlighted {
    position: relative;
    z-index: 104;
    background: #538fcc;
  }
}