/*
## Fonts
- @include font($name: $openSans, $weight: 300, $size: false);

```
    <p style="font-family:'Open Sans';font-weight: 300">Open Sans 300</p>
    <p style="font-family:'Open Sans';font-weight: 400">Open Sans 400</p>
    <p style="font-family:'Open Sans';font-weight: 600">Open Sans 600</p>
``` */

// Font families
$openSans: 'Open Sans', sans-serif; // Main text font
$iconFont: 'similarweb'; // icon font

// Font Sizes
// save the font sizes for easier reuse
@function fontSize($label) {
  @return map-get($font-sizes, $label);
}
$font-sizes: (
  'xxl': 66px, // page-title
  'xl': 45px,
  'l': 30px, // section-title
  'ls': 26px, //for scroll-nav icons
  'm': 22px, // mini section-title, form fields
  'ms': 20px,
  's': 18px, // main text
  'base': 16px,
  'xs': 14px, // graphs, small lists
  'xxs': 12px // fine print, floating labels
);
// utility mixin, dont use on its own use @include font()
@mixin calc-rem-font-size($size){
  font-size: $size;
  font-size: ($size / fontSize('base')) * 1rem;
}

// Where the magic happens! Use this mixin for setting all fonts
@mixin font($family: false, $weight: false, $size: false){
  @if $family {
    font-family: $family;
  }

  @if $weight {
    font-weight: $weight;
  }
  @if $family == $openSans {
    @if $weight == 'bold' or $weight == 700 {
      $weight: 600; // bold defaults to font-weight 700, but with open sans we want to use 600 instead
    }
  }

  @if $size {
    @if type_of($size) == 'string' {
      $size: fontSize($size);
    }
    @include calc-rem-font-size($size);
  }
}




/*
##Icons
 Two ways to use icon font: <br>
 1. Apply the class to an html element. <br>
 2. @extend %icon and then pass a variable to the content property.
```
<ul class="styleguide-icons">
  <li class="icon"><div class="icon-info-icon"></div>info-icon</li>
  <li class="icon"><div class="icon-arrow-right"></div>icon-arrow-right</li>
  <li class="icon"><div class="icon-alerts"></div>icon-alerts</li>
  <li class="icon"><div class="icon-arrow-down"></div>icon-arrow-down</li>
  <li class="icon"><div class="icon-arrow-right"></div>icon-arrow-right</li>
  <li class="icon"><div class="icon-arrow-up"></div>icon-arrow-up</li>
  <li class="icon"><div class="icon-bounce-rate"></div>icon-bounce-rate</li>
  <li class="icon"><div class="icon-calendar"></div>icon-calendar</li>
  <li class="icon"><div class="icon-time-on-site"></div>icon-time-on-site</li>
  <li class="icon"><div class="icon-page-views"></div>icon-page-views</li>
  <li class="icon"><div class="icon-edit2"></div>icon-edit2</li>
  <li class="icon"><div class="icon-edit"></div>icon-edit</li>
  <li class="icon"><div class="icon-briefcase"></div>icon-briefcase</li>
  <li class="icon"><div class="icon-checkmark"></div>icon-checkmark</li>
  <li class="icon"><div class="icon-envelope"></div>icon-envelope</li>
  <li class="icon"><div class="icon-facebook"></div>icon-facebook</li>
  <li class="icon"><div class="icon-globe"></div>icon-globe</li>
  <li class="icon"><div class="icon-gplus"></div>icon-gplus</li>
  <li class="icon"><div class="icon-iphone"></div>icon-iphone</li>
  <li class="icon"><div class="icon-ipad"></div>icon-ipad</li>
  <li class="icon"><div class="icon-key"></div>icon-key</li>
  <li class="icon"><div class="icon-link"></div>icon-link</li>
  <li class="icon"><div class="icon-linkedin"></div>icon-linkedin</li>
  <li class="icon"><div class="icon-magnifying-glass"></div>icon-magnifying-glass</li>
  <li class="icon"><div class="icon-mobile"></div>icon-mobile</li>
  <li class="icon"><div class="icon-new-window"></div>icon-new-window</li>
  <li class="icon"><div class="icon-play"></div>icon-play</li>
  <li class="icon"><div class="icon-plus"></div>icon-plus</li>
  <li class="icon"><div class="icon-pro"></div>icon-pro</li>
  <li class="icon"><div class="icon-ranking-down"></div>icon-ranking-down</li>
  <li class="icon"><div class="icon-ranking-up"></div>icon-ranking-up</li>
  <li class="icon"><div class="icon-see-pricing"></div>icon-see-pricing</li>
  <li class="icon"><div class="icon-share"></div>icon-share</li>
  <li class="icon"><div class="icon-similar-hollow"></div>icon-similar-hollow</li>
  <li class="icon"><div class="icon-similar-symbol"></div>icon-similar-symbol</li>
  <li class="icon"><div class="icon-twitter"></div>icon-twitter</li>
  <li class="icon"><div class="icon-website"></div>icon-website</li>
  <li class="icon"><div class="icon-x"></div>icon-x</li>
  <li class="icon"><div class="icon-ads"></div>icon-ads</li>
  <li class="icon"><div class="icon-apps"></div>icon-apps</li>
  <li class="icon"><div class="icon-audience"></div>icon-audience</li>
  <li class="icon"><div class="icon-geo"></div>icon-geo</li>
  <li class="icon"><div class="icon-overview"></div>icon-overview</li>
  <li class="icon"><div class="icon-referrals"></div>icon-referrals</li>
  <li class="icon"><div class="icon-search"></div>icon-search</li>
  <li class="icon"><div class="icon-similar-sites"></div>icon-similar-sites</li>
  <li class="icon"><div class="icon-social"></div>icon-social</li>
</ul>
```
*/

.styleguide-icons {
  list-style: none;
  @include font($size:20px);
  .icon {
    float: left;
    width: 16%;
    margin: 20px 0;
    text-align: center;
  }
}

