&lt;ul class=&quot;sg-colors&quot;&gt;
    &lt;h4 class=&quot;u-bold&quot;&gt;
        Old Palette Colors
    &lt;/h4&gt;
    {{#oldPaletteColors}}
        &lt;li&gt;
            &lt;span class=&quot;sg-swatch&quot; style=&quot;background:{{Value}};&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;sg-label&quot;&gt;&lt;span&gt;{{Name}}: {{Value}}&lt;/span&gt;&lt;/span&gt;
        &lt;/li&gt;
    {{/oldPaletteColors}}
&lt;/ul&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
    &lt;h4 class=&quot;u-bold&quot;&gt;
        New Definitions
    &lt;/h4&gt;
    {{#newDefinitionsColors}}
        &lt;li&gt;
            &lt;span class=&quot;sg-swatch&quot; style=&quot;background:{{Value}};&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;sg-label&quot;&gt;&lt;span&gt;{{Name}}: {{Value}}&lt;/span&gt;&lt;/span&gt;
        &lt;/li&gt;
    {{/newDefinitionsColors}}
&lt;/ul&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
    &lt;h4 class=&quot;u-bold&quot;&gt;
        Chart Marker Colors
    &lt;/h4&gt;
    {{#chartMarkerColors}}
        &lt;li&gt;
            &lt;span class=&quot;sg-swatch&quot; style=&quot;background:{{Value}};&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;sg-label&quot;&gt;&lt;span&gt;{{Name}}: {{Value}}&lt;/span&gt;&lt;/span&gt;
        &lt;/li&gt;
    {{/chartMarkerColors}}
&lt;/ul&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
    &lt;h4 class=&quot;u-bold&quot;&gt;
        C-class Colors
    &lt;/h4&gt;
    {{#cColors}}
        &lt;li&gt;
            &lt;span class=&quot;sg-swatch&quot; style=&quot;background:{{Value}};&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;sg-label&quot;&gt;&lt;span&gt;{{Name}}: {{Value}}&lt;/span&gt;&lt;/span&gt;
        &lt;/li&gt;
    {{/cColors}}
&lt;/ul&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
    &lt;h4 class=&quot;u-bold&quot;&gt;
        U-class Colors
    &lt;/h4&gt;
    {{#uColors}}
        &lt;li&gt;
            &lt;span class=&quot;sg-swatch&quot; style=&quot;background:{{Value}};&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;sg-label&quot;&gt;&lt;span&gt;{{Name}}: {{Value}}&lt;/span&gt;&lt;/span&gt;
        &lt;/li&gt;
    {{/uColors}}
&lt;/ul&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
    &lt;h4 class=&quot;u-bold&quot;&gt;
        New Components Shared Colors
    &lt;/h4&gt;
    {{#newComponentsColors}}
        &lt;li&gt;
            &lt;span class=&quot;sg-swatch&quot; style=&quot;background:{{Value}};&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;sg-label&quot;&gt;&lt;span&gt;{{Name}}: {{Value}}&lt;/span&gt;&lt;/span&gt;
        &lt;/li&gt;
    {{/newComponentsColors}}
&lt;/ul&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
    &lt;h4 class=&quot;u-bold&quot;&gt;
        Text Colors
    &lt;/h4&gt;
    {{#textColors}}
        &lt;li&gt;
            &lt;span class=&quot;sg-swatch&quot; style=&quot;background:{{Value}};&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;sg-label&quot;&gt;&lt;span&gt;{{Name}}: {{Value}}&lt;/span&gt;&lt;/span&gt;
        &lt;/li&gt;
    {{/textColors}}

&lt;/ul&gt;