&lt;p class=&quot;text-style-1&quot;&gt;Text style 1: 'Open Sans Condensed Light', sans-serif;&lt;/p&gt;
&lt;p class=&quot;text-style-2&quot;&gt;Text style 2: 'Open Sans Condensed', sans-serif;&lt;/p&gt;
&lt;p class=&quot;u-bold&quot;&gt;Primary font bold: 'Open Sans', sans-serif;&lt;/p&gt;
&lt;h4 class=&quot;u-bold u-alignCenter&quot;&gt;
    Font styles
&lt;/h4&gt;
&lt;p class=&quot;u-alignCenter&quot;&gt;Align centre&lt;/p&gt;
&lt;p class=&quot;u-alignRight&quot;&gt;Align right&lt;/p&gt;
&lt;p class=&quot;text-rel-size2&quot;&gt;Text rel size2&lt;/p&gt;

&lt;h4 class=&quot;u-bold u-alignCenter&quot;&gt;
    Font sizes
&lt;/h4&gt;
&lt;p style=&quot;font-size: 16px&quot;&gt;$sw-base-font-size: 16px;&lt;/p&gt;
&lt;p style=&quot;font-size: 12px&quot;&gt;$baseFontSize: 12px;&lt;/p&gt;