<ul class="sg-colors">
    <h4 class="u-bold">
        Old Palette Colors
    </h4>
    {{#oldPaletteColors}}
        <li>
            <span class="sg-swatch" style="background:{{Value}};"></span>
            <span class="sg-label"><span>{{Name}}: {{Value}}</span></span>
        </li>
    {{/oldPaletteColors}}
</ul>
<ul class="sg-colors">
    <h4 class="u-bold">
        New Definitions
    </h4>
    {{#newDefinitionsColors}}
        <li>
            <span class="sg-swatch" style="background:{{Value}};"></span>
            <span class="sg-label"><span>{{Name}}: {{Value}}</span></span>
        </li>
    {{/newDefinitionsColors}}
</ul>
<ul class="sg-colors">
    <h4 class="u-bold">
        Chart Marker Colors
    </h4>
    {{#chartMarkerColors}}
        <li>
            <span class="sg-swatch" style="background:{{Value}};"></span>
            <span class="sg-label"><span>{{Name}}: {{Value}}</span></span>
        </li>
    {{/chartMarkerColors}}
</ul>
<ul class="sg-colors">
    <h4 class="u-bold">
        C-class Colors
    </h4>
    {{#cColors}}
        <li>
            <span class="sg-swatch" style="background:{{Value}};"></span>
            <span class="sg-label"><span>{{Name}}: {{Value}}</span></span>
        </li>
    {{/cColors}}
</ul>
<ul class="sg-colors">
    <h4 class="u-bold">
        U-class Colors
    </h4>
    {{#uColors}}
        <li>
            <span class="sg-swatch" style="background:{{Value}};"></span>
            <span class="sg-label"><span>{{Name}}: {{Value}}</span></span>
        </li>
    {{/uColors}}
</ul>
<ul class="sg-colors">
    <h4 class="u-bold">
        New Components Shared Colors
    </h4>
    {{#newComponentsColors}}
        <li>
            <span class="sg-swatch" style="background:{{Value}};"></span>
            <span class="sg-label"><span>{{Name}}: {{Value}}</span></span>
        </li>
    {{/newComponentsColors}}
</ul>
<ul class="sg-colors">
    <h4 class="u-bold">
        Text Colors
    </h4>
    {{#textColors}}
        <li>
            <span class="sg-swatch" style="background:{{Value}};"></span>
            <span class="sg-label"><span>{{Name}}: {{Value}}</span></span>
        </li>
    {{/textColors}}

</ul>