<p class="text-style-1">Text style 1: 'Open Sans Condensed Light', sans-serif;</p>
<p class="text-style-2">Text style 2: 'Open Sans Condensed', sans-serif;</p>
<p class="u-bold">Primary font bold: 'Open Sans', sans-serif;</p>
<h4 class="u-bold u-alignCenter">
    Font styles
</h4>
<p class="u-alignCenter">Align centre</p>
<p class="u-alignRight">Align right</p>
<p class="text-rel-size2">Text rel size2</p>

<h4 class="u-bold u-alignCenter">
    Font sizes
</h4>
<p style="font-size: 16px">$sw-base-font-size: 16px;</p>
<p style="font-size: 12px">$baseFontSize: 12px;</p>